:root {
    --background: #1C2536;
    --foreground-white: #F3F5F8;
    --highlight-text-black: #000000;
    --inactive-text-grey: #8B8992;
    --textbox-white: #FFFFFF;
    --ButtonBlue: #4467E0;

    --FormWidth: 600px;
}

@font-face {
    font-family: 'Mona Sans';
    src:
      url('Mona-Sans.woff2') format('woff2 supports variations'),
      url('Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
  
html {
    font-family: 'Mona Sans';
}

body {
    height: 100vh;
    background-color: var(--background);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: var(--foreground-white);
    color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}


form {
    background-color: var(--foreground-white);
    color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: var(--FormWidth);
    align-self: center;

}


footer {
    background-color: var(--foreground-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

